a {
    color: #344D78;
    font-weight: bold;
}

p {
    color: #666;
}

li {
    color: #666;
}

hr {
    margin-block: 3rem;
    border: 0;
    border-top: 0.5px solid #C5C5C5;
}

article table {
    overflow-x: auto;
    border-collapse: collapse;
    width: 100%;
}

article table th {
    border: 1px solid #333;
    text-align: left;
    padding: 0.5rem 0.5rem;
    font-size: small;
    background-color: #E5E5E5;
}

article table td {
    padding: 0.5rem 0.5rem;
    padding-left: 0.5rem;
    font-size: small;
    border: 1px solid #333;
    color: #666;
    white-space: pre-wrap;
}

.code-box {
    display: block;
}

.code-box pre {
    margin-block: 1rem;
    border: 1px solid #e0e0e0;
    overflow-x: hidden;
    white-space: pre-wrap;
    padding: 1rem;
}

.code-box code[class*="language-"],
.code-box pre[class*="language-"] {
    font-size: small;
    color: #333;
    word-wrap: normal;
}

.swagger-ui .highlight-code>.microlight code {
    white-space: pre-wrap!important;
    word-break: break-all;
    text-shadow: none;
    color: white;
}